#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |  VLUP  |                       |  WEB  |   Y   |   U   |  I   |  O   |   P   |   \  |
// |  CAP  |  A  |  S  |  D   |  F   |  G   |  VLDN  |                       |  [    |   H   |   J   |  K   |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  PAUSE | LFT CLICK | RHT CLICK |  ]    |   N   |   M   |  ,   |  .   |   UP  |   /  |
// | CTRL  | WIN | ALT | FILE | DEL  | BSPC | UPLYR  | WEB BACK  | WEB RGHT  | DNLYR | SPACE |   -   |  =   | LFT  |  DWN  | RGHT |
			bindings = <

	&kp TAB   &kp Q    &kp W    &kp E          &kp R   &kp T    &kp C_VOL_UP                   &kp C_AL_WWW  &kp Y     &kp U     &kp I     &kp O    &kp P    &kp BSLH
	&kp A     &kp A    &kp S    &kp D          &kp F   &kp G    &kp C_VOL_DN                   &kp LBKT      &kp H     &kp J     &kp K     &kp L    &kp SEMI &kp SQT
	&kp LSHFT &kp Z    &kp X    &kp C          &kp V   &kp B    &kp C_PP      &kp F23  &kp F24 &kp RBKT      &kp N     &kp M     &kp COMMA &kp DOT  &kp UP   &kp FSLH
	&kp LCTRL &kp LWIN &kp LALT &kp C_AL_FILES &kp DEL &kp BSPC &to RAISE RET &kp F17  &kp F18 &lt LOWER RET &kp SPACE &kp MINUS &kp EQUAL &kp LEFT &kp DOWN &kp RIGHT
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		lower_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |  VLUP  |                       |  WEB  |   Y   |   U   |  I   |  O   |   P   |   \  |
// |  CAP  |  A  |  S  |  D   |  F   |  G   |  VLDN  |                       |  [    |   H   |   J   |  K   |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  PAUSE | LFT CLICK | RHT CLICK |  ]    |   N   |   M   |  ,   |  .   |   UP  |   /  |
// | CTRL  | WIN | ALT | FILE | DEL  | BSPC | UPLYR  | WEB BACK  | WEB RGHT  | DNLYR | SPACE |   -   |  =   | LFT  |  DWN  | RGHT |
			bindings = <
	
	&trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
	
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		raise_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |  VLUP  |                       |  WEB  |   Y   |   U   |  I   |  O   |   P   |   \  |
// |  CAP  |  A  |  S  |  D   |  F   |  G   |  VLDN  |                       |  [    |   H   |   J   |  K   |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  PAUSE | LFT CLICK | RHT CLICK |  ]    |   N   |   M   |  ,   |  .   |   UP  |   /  |
// | CTRL  | WIN | ALT | FILE | DEL  | BSPC | UPLYR  | WEB BACK  | WEB RGHT  | DNLYR | SPACE |   -   |  =   | LFT  |  DWN  | RGHT |
			bindings = <
	
	&trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
	
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
